body
{

}
h1{
    font-size:100px;
   text-align:center;
}
h2{
    text-align:center;
}
h3{
    text-align:center;
}
#homelist {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li a {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    border: rgba(0,0,0,0.25);
    padding:15px;
    border-radius:20px;
    box-sizing:border-box;
    background-color:mintcream;
}
a {
    text-decoration: none;
    border: rgba(0,0,0,0.25);
    padding: 15px;
    border-radius: 20px;
    background-color:mintcream;
}
li{
    text-align:center;
    list-style-type:none;
}
p{
    font:bold;
    text-align:center;
}
#OU {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}